#!/bin/bash
# setup system variables
# OpenCorpora (serialized) dictionary
opencorpora_home=~/data/opencorpora
opencorpora_opts='-Dopencorpora.home='${opencorpora_home}
# UIMA datapath
uima_datapath='-Duima.datapath=.:'${opencorpora_home}
# Java Heap Opts
java_opts='-Xmx2000m'
# logging
logback_opts="-Dlogback.configurationFile=logback.xml"
